
@{
    Layout = "~/Areas/Backoffice/Views/Shared/_LayoutHomePage.cshtml";
}

<h2>Bem-Vindo ao Backoffice</h2>

<div class="row">
    <div class="col-lg-3">
        @Html.ActionLink("Categorias", "Index", "Categorias", new { area = "Backoffice" }, new { @class = "btn btn-info btn-card-red", @type = "button" })
    </div>
    <div class="col-lg-3">
        @Html.ActionLink("Produtos", "Index", "Produtos", new { area = "Backoffice" }, new { @class = "btn btn-danger btn-card-green", @type = "button" })
    </div>
    <div class="col-lg-3">
        @Html.ActionLink("Descontos", "Index", "Home", new { area = "Backoffice" }, new { @class = "btn btn-default btn-card-blue", @type = "button" })
    </div>
    <div class="col-lg-3">
        @Html.ActionLink("Dashboard", "Index", "Home", new { area = "Backoffice" }, new { @class = "btn btn-success btn-card-grey", @type = "button" })
    </div>
</div>

